ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }

li {
    display: flex;
    width: 450px;
}  

button {
    background: none;
    border: 0px;
    color: white;
    font-size: 15px;
    margin: 10px 5px 1px;
    font-family: Lato, sans-serif;
    cursor: pointer;;
    background-color: #434343;
    padding: 5px 10px;
}